.custom-navbar {
  border-bottom: 1px solid #eee;
  background: #fff;
}

.top-header-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

/* LOGO */
.brand-title {
  font-size: 26px;
  font-weight: 700;
  color: var(--color-pink);
  text-decoration: none;
}

.LogoImage{
  height:60px;
  width:auto;
}

/* DELIVERY */
.delivery-box {
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(90deg, #cde7f6 0%, #f0f9ff 100%);
  padding: 10px 10px;
  border-radius: 6px;
}

.DeliverSection{
  display: flex;
  justify-content: space-around;
}

.delivery-box i {
  font-size: 20px;
}

/* SEARCH */
/* SEARCH CONTAINER */
.search-container {
  width: 40%;
}

/* WRAPPER */
.search-wrapper {
  position: relative;
}

/* INPUT */
.searchInput {
  padding-right: 40px;
  padding:15px 10px;
  border: none;
  background: #f5f5f5;
  box-shadow: none;
}

.searchInput:focus {
  box-shadow:#f0f9ff !important ;
  outline: none;
  background: #f5f5f5;
}


/* SEARCH ICON */
.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #777;
  cursor: pointer;
}


/* ===== MEGA DROPDOWN BASE ===== */
.mega-dropdown {
  position: static;
}

.mega-toggle {
  cursor: pointer;
}

/* Mega menu container */
.mega-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  background: #fff;
  padding: 36px 0;
  display: none;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

/* Show on hover */
.mega-dropdown:hover .mega-menu {
  display: block;
}

/* Inner layout */
.mega-menu-inner {
  max-width: 1400px;
  margin: auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 8 columns */
  gap: 18px 28px;
}

/* Item style */
.mega-item {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  padding: 8px 6px;
  border-radius: 6px;
  transition: all 0.25s ease;
}

.mega-item:hover {
  background: #f5f7ff;
  color: var(--color-pink);
  transform: translateX(6px);
}

/* Desktop only */
@media (max-width: 991px) {
  .mega-menu {
    display: none !important;
  }
}


/* RESPONSIVE */
@media (max-width: 991px) {
  .search-container {
    display: none;
  }
}


/* ICONS */
.top-icons {
  display: flex;
  gap: 18px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #333;
  text-decoration: none;
}

.icon-box i {
  font-size: 20px;
}

/* BOTTOM NAVBAR */
.bottom-navbar {
  border-top: 1px solid #eee;
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .search-container {
    display: none;
  }

  .delivery-box {
    display: none;
  }

  .top-header-wrapper {
        text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
