.hero-section {
 background: linear-gradient(180deg, #fff6f1, #ffe0e9);
  padding: 80px 20px;
  width: 100%;
}

.hero-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT CONTENT */
.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 56px;
  font-weight: 700;
 color: #df4444;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 16px;
 color: #000000;
  max-width: 520px;
  margin-bottom: 30px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.btn-primary {
  background: #5a0c82;
  color: #fff;
  border: none;
  padding: 14px 26px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 2px solid #5a0c82;
  color: #df4444;
  padding: 14px 26px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

/* STATS */
.hero-stats {
  display: flex;
  gap: 40px;
}

.hero-stats h3 {
 color: #df4444;
  font-size: 24px;
  margin-bottom: 4px;
}

.hero-stats span {
  font-size: 14px;
 color: #000000;
}

/* ======================= */
/* IMAGE SLIDER */
/* ======================= */

.hero-img-slider {
  flex: 1;
  position: relative;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img-slider img {
  position: absolute;
  max-width: 420px;
  width: 100%;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.8s ease;
}

.hero-img-slider img.active {
  opacity: 1;
  transform: scale(1);
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-section {
    background: linear-gradient(90deg, #fbefff, #f4dfff);
    padding: 19px 20px;
    width: 100%;
}

 .hero-content p {
    font-size: 12px;
  }

  
      .hero-content h1 {
        font-size: 28px;
    }
  .hero-buttons {
    justify-content: center;
  }

  .hero-stats {
    justify-content: center;
  }
}

@media (max-width: 576px) {
 
  .hero-content p {
    font-size: 12px;
  }

  .hero-stats {
    gap: 20px;
  }

  .hero-img-slider {
    height: 300px;
  }
}
