.checkout-page {
  background: #f7f9fc;
  min-height: 100vh;
}

.checkout-left {
  padding: 40px 60px;
  background: #fff;
}

.checkout-title {
  font-weight: 700;
}
.continueBtn{

  background-color: #df4444 !important;
  color: white !important;
}

.info-bar {
  background: #eef5ff;
  padding: 14px 18px;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.info-bar a {
  font-weight: 600;
  text-decoration: none;
}

.auth-box {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.auth-header {
  background: #df4444;
  color: #fff;
  padding: 14px 20px;
  font-weight: 600;
}

.auth-card {
  border: 1px solid #ddd;
  margin: 15px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  position: relative;
}

.auth-card.active {
  border-color: #df4444;
  background: #eef3ff;
}

.auth-card h6 {
  margin: 0;
  font-weight: 600;
}

.auth-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.auth-icon {
  font-size: 24px;
}

.check {
  position: absolute;
  right: 16px;
  top: 16px;
  color: #df4444;
  font-size: 18px;
}

.guest-line {
  margin: 10px 20px;
  font-size: 14px;
}

.guest-line span {
  color: #df4444;
  cursor: pointer;
  font-weight: 600;
}

.form-section {
  padding: 20px;
}

.form-control {
  height: 48px;
  border-radius: 8px;
}

/* RIGHT SIDE */
.checkout-right {
  background: linear-gradient(#df4444, #f18686);
  padding: 40px;
}

.summary-box {
  background: transparent;
}

.product {
  display: flex;
  gap: 15px;
}

.img-placeholder {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 2px dashed #aaa;
}

.coupon {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.coupon input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.coupon button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background: #000;
  color: #fff;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.total {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
}
