.testimonialsSection {
    padding: 0px 0;
    /* background: lightgray;  */
}
  
  .slider-container {
    margin: 0 auto;
  }
  
  .testimonial-card {
    text-align: center;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #ffffff;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
    animation: fadeInUp 1s ease-in-out;
    height: 310px;
  }

  .testimonial-image{
    display: flex;
    justify-content: center;
  }
  
  .testimonial-card:hover {
    transform: scale(1);
    /* box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3); */
  }
  
  .testimonial-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #8a2be2;
    animation: bounce 2s infinite;
  }
  
  .testimonial-name {
    font-size: 20px;
    font-family: var(--font-family-design);
    font-weight: 700;
    color: var(--color-pink);
    margin-bottom: 5px;
  }
  
  .testimonial-title {
    font-size: 14px;
    color: var(--color-brown);
    font-style: italic;
    font-family: var(--font-family-design);
    margin-bottom: 10px;
  }
  
  .testimonial-description {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  /* Keyframes for animation */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .testimonial-card {
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .testimonial-card {
      margin: 5px;
    }
  
    .testimonial-description {
      font-size: 14px;
    }
  }
  