


.fnp-footer {
  background:#df4444;
  font-size: 14px;
  color: #ffffff;
}

/* TOP */
.footer-top {
  padding: 50px 0;
  border-bottom: 1px solid #e5e5e5;
}

.footer-top h6 {
  font-weight: 600;
  margin-bottom: 14px;
}

.footer-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-top ul li {
  margin-bottom: 8px;
}

.footer-top ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-top ul li a:hover {
  color: #000;
}

/* API scroll section */
.footer-scroll {
  max-height: 180px;
  overflow-y: auto;
}

/* SUBSCRIBE */
.subscribe-text {
  font-size: 13px;
  color: #ffffff;
}
.subscribe-box {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.subscribe-box input {
  width: 100%;
  padding: 10px 40px 10px 12px; /* space for arrow */
  border: none;
  outline: none;
  font-size: 14px;
}

.subscribe-box button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #df4444;
}

.subscribe-box input {
  border: none;
  outline: none;
  flex: 1;
}

.subscribe-box button {
  border: none;
  background: transparent;
  font-size: 18px;
}

/* MIDDLE */
.footer-middle {
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 13px;
}

.csr-link {
  color: #0d6efd;
  text-decoration: none;
}

/* BOTTOM */
.footer-bottom {
  padding: 15px 0;
}

.social-icons a {
  margin-right: 12px;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 6px 9px;
}

.payment-icons img {
  height: 30px;
}


/* Hide scrollbar - Chrome, Edge, Safari */
.footer-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Hide scrollbar - Firefox */
.footer-scroll {
  scrollbar-width: none;
}

/* Hide scrollbar - IE & Edge */
.footer-scroll {
  -ms-overflow-style: none;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-bottom .container {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-column{
    text-align: center;
  }
}

