.cake-banner-container {
  display: flex;
  gap: 24px;
  padding: 20px;
}

/* Two section layout */
.two-banner .cake-banner-card {
  flex: 0 0 50%;
}

/* Card */
.cake-banner-card {
  position: relative;
  height: 260px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.15);
}

.cake-banner-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.6s ease;
}

.cake-banner-card:hover img {
  transform: scale(1.08);
}

/* Overlay */
.cake-overlay {
  position: absolute;
  inset: 0;
  padding: 32px;
  /* background: linear-gradient(
    to right,
    rgba(255, 245, 235, 0.95),
    rgba(255, 245, 235, 0.7),
    rgba(255, 245, 235, 0.15)
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cake-overlay h4 {
  font-size: 14px;
  font-weight: 600;
  color: #c85a2b;
}

.cake-overlay h2 {
  font-size: 24px;
  font-weight: 700;
  color: #4a1d0b;
  margin: 8px 0;
}

.cake-overlay p {
  font-size: 14px;
  color: #6b3a1f;
  margin-bottom: 18px;
}

/* Button */
.cake-btn {
  width: fit-content;
  padding: 10px 26px;
  border-radius: 30px;
  border: none;
  background: #df4444;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cake-btn:hover {
  background: #e06600;
}

/* =======================
   TABLET & MOBILE
======================= */
@media (max-width: 992px) {
  .cake-banner-container {
    flex-direction: column;
  }

  .two-banner .cake-banner-card {
    flex: 1;
  }

  .cakeImgBanner{
    height:150px !important;
  }
  .cake-banner-card {
    height: 200px; 
    
  }
  .cake-banner{
    height:200px;
  }
}

@media (max-width: 576px) {
  .cake-banner-card {
    height: 200px;
  }

  .cake-overlay h2 {
    font-size: 18px;
  }

  .cake-btn {
    padding: 8px 20px;
    font-size: 12px;
  }
}
