NORMAL FLOW
.cake-scroll-wrapper {
  position: relative;
}


.cake-pin {
  height: 100vh;
  background: radial-gradient(circle at center, #fff, #f4e9e6);
  display: flex;
  align-items: center;
  position: relative;
}

.main-cake {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
}


.orbit-item {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  padding: 6px;
  border: 2px dashed #caa39b;
}

.orbit-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.orbit-0 { top: 10%; left: 42%; }
.orbit-1 { top: 24%; right: 41%; }
.orbit-2 { bottom: 42%; right: 33%; }
.orbit-3 { bottom: 24%; left: 52%; }
.orbit-4 { top: 74%; left: 43%; }


.cake-info {
  position: absolute;
  top: 11%;
  right: 35%;
  max-width: 320px;
}


@media (max-width: 768px) {
  .main-cake {
    width: 240px;
    height: 240px;
    left: 50%;
  }

  .cake-info {
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    text-align: center;
  }
}
