/* =========================
   RIGHT SIDE TABS
========================= */
.cat-btn {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: 1px solid #6b2c1f;
  background: #fff;
  font-weight: 600;
  cursor: pointer;
}

.CoustomContainer{
  height : 700px;
}

.cat-btn.active {
  background: #6b2c1f;
  color: #fff;
}

/* =========================
   ORBIT LAYOUT
========================= */
.orbit-wrapper {
  position: relative;
  height: 500px;
}

.main-cake {
  width: 320px;
  height: 350px;
  position: absolute;
  border-radius: 50%;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}

/* ORBIT ITEMS */
.orbit-item {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 50%;
  background: #fff;
  border: 2px dashed #aaa;
  cursor: pointer;
}

.orbit-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.orbit-item.active {
  border-color: #6b2c1f;
}

/* POSITIONS */
.orbit-0 { top: 0%; left: 35%; }
.orbit-1 { top: 6%; right: 33%; }
.orbit-2 { bottom: 28%; right: 25%; }
.orbit-3 { bottom: -5%; left: 54%; }
.orbit-4 { bottom: -22%; left: 35%; }

/* TEXT */
.cake-info {
  position: absolute;
  right: 70%;
  top: 8%;
  max-width: 260px;
}

.titleFeature{
  font-size: 35px;
}


.subtitleFeature{
  font-size : 14px;
}