/* =========================
   SCROLL CONTAINER
   (RESERVES SPACE)
========================= */
.cake-scroll-wrapper {
  position: relative;
  height: auto; /* GSAP controls spacing */
}

/* =========================
   PINNED AREA
========================= */
.cake-pin {
  height: 100vh;
  position: relative;
      z-index: 99999;
  display: flex;
  align-items: center;
  background: radial-gradient(circle at center, #fff, #f4e9e6);
}

/* =========================
   ORBIT
========================= */
.main-cake {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  z-index: 5;
}

.orbit-item {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: white;
  padding: 6px;
  border: 2px dashed #caa39b;
}

.orbit-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* POSITIONS */
.orbit-0 { top: 10%; left: 42%; }
.orbit-1 { top: 24%; right: 41%; }
.orbit-2 { bottom: 42%; right: 33%; }
.orbit-3 { bottom: 24%; left: 52%; }
.orbit-4 { top: 74%; left: 43%; }

/* TEXT */
.cake-info {
  max-width: 320px;
  margin-left: 80px;

      position: absolute;
    top: 11%;
    right: 35%;
}

/* =========================
   NEXT SECTION
========================= */
.next-section {
  min-height: 100vh;
  padding: 100px;
  background: #fff;
}

/* =========================
   MOBILE
========================= */
@media (max-width: 768px) {
  .main-cake {
    left: 50%;
    width: 240px;
    height: 240px;
  }

  .cake-info {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-left: 0;
  }
}
